	---
    import Hero from '../components/hero.astro'
    import About from '../components/about.astro'
    import Featured_Section from '../components/featured.astro'
    import Statement from '../components/statement.astro'
    import BTS from '../components/bts.astro'
    import Layout from '../layouts/Layout.astro'
    import Offer from '../components/offer.astro'
    import CTA from '../components/CTA.astro'
	---

<Layout title='Pro Grace Production'>
    <main>    
        <Hero />
        <About />
        <Featured_Section />
        <Statement />
        <Offer/>
        <BTS />
        <CTA />
        
    </main>
</Layout>
