    ---
    import Layout from "../layouts/Layout.astro";
    ---

    <Layout title="LURUH | Pro Grace Production">
        <main>
            <section class="sm:mt-15 md:mt-0">
                <div class="aspect-9/16 sm:aspect-auto relative">
                    <img src="/Luruh Stills.webp" alt="LURUH Still" class="h-full w-full object-cover  object-[70%_center]">
                    <div class="absolute inset-0 top-[70%] bg-[#161616] mask-[linear-gradient(to_top,black_10%,transparent_100%)]"></div>
                    <div class="absolute bottom-5 left-5 md:left-0 lg:left-15 flex flex-col gap-6 p-2">
                        <div>
                            <span class="font-display text-white/60 tracking-widest font-medium text-[14px] md:text-[16px]">SHORT FILM | 2025</span>
                            <h1 class="font-heading text-6xl font-medium lg:text-8xl -mt-2">LURUH</h1>
                        </div>
                        <div class="flex items-center justify-start gap-2">
                            <a href="#" class="flex items-center justify-center gap-2 bg-[#003229] py-2 px-4 font-display text-[12px] font-semibold rounded-[10px] tracking-wide transition-all duration-300 hover:bg-[#002d24]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ffffff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-play-icon lucide-play"><path d="M5 5a2 2 0 0 1 3.008-1.728l11.997 6.998a2 2 0 0 1 .003 3.458l-12 7A2 2 0 0 1 5 19z"/></svg>
                                <span>WATCH TRAILER</span>
                            </a>
                            <a href="/works" class="bg-[#2B2B2B] py-2 px-4 rounded-full font-display text-[12px] font-bold">MORE WORKS</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="max-w-7xl mx-auto my-10">    
                <div class="grid grid-cols-12 place-content-center gap-6 mx-auto border-b-white/40 border-b pb-10"> 
                   <div class="luruh-info-grid">
                        <p class="luruh-info-text">GENRE</p>
                        <p class="font-display text-nowrap">Family Drama</p>
                   </div>
                   <div class="luruh-info-grid">
                        <p class="luruh-info-text">DURATION</p>
                        <p class="font-display text-nowrap">15 Minutes</p>
                   </div>
                   <div class="luruh-info-grid">
                        <p class="luruh-info-text">TARGET AUDIENCE</p>
                        <p class="font-display text-nowrap">13+</p>
                   </div>
                   <div class="luruh-info-grid">
                        <p class="luruh-info-text">RESOLUTION</p>
                        <p class="font-display text-nowrap">4K</p>
                   </div>
                   <div class="luruh-info-grid">
                        <p class="luruh-info-text">CAMERA</p>
                        <p class="font-display text-nowrap">Sony FX3</p>
                   </div>
                   <div class="luruh-info-grid">
                        <p class="luruh-info-text">ASPECT RATIO</p>
                        <p class="font-display text-nowrap">2.35:1</p>
                   </div>
                </div>
            </section>

            <section class="w-full bg-[#1a1a1a] text-center py-40">
                <div class="flex flex-col items-center gap-6 max-w-7xl mx-auto px-5">
                    <div>
                        <h2 class="font-heading font-medium text-4xl">LURUH</h2>
                        <p class="font-display opacity-40 font-bold tracking-wide">A FILM ABOUT FAMILY, REFLECTION, AND FALLING RELATIONSHIP.</p>
                    </div>
                    <div class="w-75 h-0.5 rounded-full bg-[#1F8674]"></div>
                    <p class="font-display text-justify">Maryam is a laundress who lives a modest life with her family, Lastri, and their mother, Sarintem. Bound by duty, Maryam has to take care of her work and care for her aging and senile mother at the same time. Meanwhile, her older sister Lastri is rarely home and helps Maryam, making her feel very exhausted. Maryam does everything by herself, from feeding her mother to changing her mother's wet pants. One day, without any guilt, Sarintem asks Maryam something that makes Maryam's heart ache and break. Until Maryam makes a tragic decision that will change everything.</p>
                    <br>
                    <p class="font-display opacity-40 font-medium italic tracking-wide">“A falling petal would never wither by the cruel erosion of time”</p>
                </div>
            </section>
            <section class="max-w-7xl mx-auto px-5 my-10">
                <h2 class="font-serif text-center md:text-left text-[30px] sm:text-3xl font-bold">Cast</h2>
                <br>
                <div class="gap-6 grid sm:grid-cols-2 lg:grid-cols-4">
                    <div class="team-card">
                        <figure class="team-picture">
                            <img src="/luruh team/Maryam.webp" alt="Anis" class="w-full h-full rounded-full object-cover">
                        </figure>
                        <div class="team-info flex flex-col min-w-0">
                            <span class="team-name">Maychelina Anis Nugraheni</span>
                            <span class="team-role">MARYAM</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <figure class="team-picture">
                            <img src="/luruh team/Lastri.webp" alt="Dina" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Krisanita Dina</span>
                            <span class="team-role">LASTRI</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <figure class="team-picture">
                            <img src="/luruh team/Sarintem.webp" alt="Pahlawan" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Pahlawan Kusumaningsih</span>
                            <span class="team-role">SARINTEM</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <figure class="team-picture">
                            <img src="/luruh team/Bu RT.webp" alt="Murniati" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Murniati</span>
                            <span class="team-role">BU RT</span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="max-w-7xl mx-auto my-10 p-5">
                <h3 class="font-serif text-center md:text-left text-[30px] sm:text-3xl font-bold">Teams</h3>
                <br>
                <div class="gap-6 grid sm:grid-cols-2 lg:grid-cols-4">
                    <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Fernanda.webp" alt="Fernanda" class="w-full h-full rounded-full object-cover">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Fernanda Bagus Prasetya</span>
                            <span class="team-role text-[#1F8674]">PRODUCER</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Jenna.webp" alt="Jenna" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Sajna Nuraini Sabilla Fitri</span>
                            <span class="team-role text-[#1F8674]">Line Producer</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Gita.webp" alt="Gita" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Gita Talia</span>
                            <span class="team-role text-[#1F8674]">Director</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Aldi.webp" alt="Aldi" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Aldi Saputra Dwi Rangga</span>
                            <span class="team-role text-[#1F8674]">Scriptwriter</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Anwar.webp" alt="Anwar" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Mohammad Anwar</span>
                            <span class="team-role text-[#1F8674]">Editor</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Ani.webp" alt="Fitriyani" class="w-full h-full rounded-full object-cover">
                        </figure>
                        <div class="team-info flex flex-col min-w-0">
                            <span class="team-name">Fitriyani</span>
                            <span class="team-role text-[#1F8674]">1st Assistant Director</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Dapit.webp" alt="Davit" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Davit Kurniawan</span>
                            <span class="team-role text-[#1F8674]">DOP</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Habib.webp" alt="Munthaha" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Muhammad Munthaha Mujtaba</span>
                            <span class="team-role text-[#1F8674]">Sound Recordist</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Fawaz.webp" alt="Fawaz" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Fawaz Alwan Nafi</span>
                            <span class="team-role text-[#1F8674]">Gaffer</span>
                        </div>
                    </div>
                    <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Jeni.webp" alt="Jeni" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Jeni Dina Ardita</span>
                            <span class="team-role text-[#1F8674]">make up artist</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Anggia.webp" alt="Anggia" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Anggia Hasna Nur Aini</span>
                            <span class="team-role text-[#1F8674]">wardrobe</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Nanda.webp" alt="Nanda" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Ananda Betrics Maritina Nifmaskossu</span>
                            <span class="team-role text-[#1F8674]">talent coordinator</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Gofar.webp" alt="Gofar" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Goffar Hasan Nur Herjuno</span>
                            <span class="team-role text-[#1F8674]">Location Manager</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Lea.webp" alt="Lea" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Lingga Eleazar Eureka Mojo</span>
                            <span class="team-role text-[#1F8674]">Script timecode</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Aconk.webp" alt="Lingga" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Lingga Arifudin Halim</span>
                            <span class="team-role text-[#1F8674]">art director</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Feli.webp" alt="Rafelia" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Rafelia Kayyis Khayyu Ulya</span>
                            <span class="team-role text-[#1F8674]">Art Crew</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Adi.webp" alt="Adiwijaya" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Adiwijaya</span>
                            <span class="team-role text-[#1F8674]">clapper, art crew</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Yoga.webp" alt="Yoga" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Ahmad Yoga Pratama</span>
                            <span class="team-role text-[#1F8674]">2nd Assistand Director</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Iskandar.webp" alt="Iskandar" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Mohammad Noor Iskandar</span>
                            <span class="team-role text-[#1F8674]">Assistant Camera</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Hara.webp" alt="Hara" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Khuzaimah Nur Sahara</span>
                            <span class="team-role text-[#1F8674]">lighting crew</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Ucup.webp" alt="Favian" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Favian Sakhi Yusuf</span>
                            <span class="team-role text-[#1F8674]">Lighting crew</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Rafi.webp" alt="Raffi" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Raffi Ilham Zeftyatala</span>
                            <span class="team-role text-[#1F8674]">Boom Operator</span>
                        </div>
                    </div>
                     <div class="team-card">
                        <figure class="team-picture bg-[#003229] rounded-full">
                            <img src="/luruh team/Bima.webp" alt="Bima" class="rounded-full">
                        </figure>
                        <div class="team-info">
                            <span class="team-name">Krisetya Bima Hartanta</span>
                            <span class="team-role text-[#1F8674]">bawang kotong</span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="max-w-7xl mx-auto my-10 p-5">
                <h2 class="font-serif text-center md:text-left text-[30px] sm:text-3xl font-bold mb-10">Support Equipment</h2>
                <div class="grid place-content-center place-items-center gap-6 grid-cols-3 sm:grid-cols-5">
                    <figure class="w-25 aspect-auto">
                        <img src="/support/Audio Good.webp" alt="Audio Good" class="w-full h-full object-cover">
                    </figure>
                    <figure class="w-25 aspect-auto">
                        <img src="/support/Pinky.webp" alt="Pinky" class="w-full h-full object-cover">
                    </figure>
                    <figure class="w-25 aspect-auto">
                        <img src="/support/Muvi Id.webp" alt="Muvie ID" class="w-full h-full object-cover">
                    </figure>
                    <figure class="w-25 aspect-autocol-span-5">
                        <img src="/support/BSM.webp" alt="BSM" class="w-full h-full object-cover">
                    </figure>
                    <figure class="w-25 aspect-auto">
                        <img src="/support/Balemas Singlon.webp" alt="Balemas Singlon" class="w-full h-full object-cover">
                    </figure>
                </div>
            </section>

            <section class="max-w-7xl mx-auto my-10 p-5">
                <h2 class="font-serif text-center md:text-left text-[30px] sm:text-3xl font-bold mb-10">Sponsor</h2>
                <div class="grid place-content-center place-items-center gap-6 grid-cols-3 sm:grid-cols-5">
                    <figure class="w-25 aspect-auto">
                        <img src="/sponsor/Nanku.webp" alt="Nanku Cofee" class="w-full h-full object-cover">
                    </figure>
                    <figure class="w-25 aspect-auto">
                        <img src="/sponsor/DMA.webp" alt="Digjaya Menoreh Abadi" class="w-full h-full object-cover">
                    </figure>
                    <figure class="w-25 aspect-auto">
                        <img src="/sponsor/PADSKILOGO.webp" alt="Padepokan Seni Kirun" class="w-full h-full object-ver">
                    </figure>
                    <figure class="w-25 aspect-autocol-span-5">
                        <img src="/sponsor/Raihan.webp" alt="Raihan Shaqr Marko" class="w-full h-full object-cover">
                    </figure>   
                </div>
            </section>

        
            <section class="max-w-7xl mx-auto text-center p-5 my-20">
                <div class="flex flex-col gap-12">
                    <div>
                        <h2 class="italic font-serif font-semibold text-4xl">Have a vision for your next story?</h2>
                        <p class="font-display opacity-40 text-[13px] hidden md:block">
                            We bring the same focus and technical precision to every production.
                        </p>
                    </div>
                    <a href="/contact" class="font-display text-[#1F8674] font-bold text-nowrap text-[17px] tracking-widest">START A COLLABORATION</a>
                </div>
            </section>
        </main>
    </Layout>