    ---
    import Layout from '../layouts/Layout.astro';
    import CrewCard from '../components/crewCard.astro';
    ---

    <Layout title='Our Team | Pro Grace Production'>
    <main class="flex items-center justify-center flex-col">
        <section class="max-w-7xl mt-20 px-5 flex flex-col items-center">
            <h1 class="font-heading font-semibold text-2xl tracking-wide text-nowrap md:text-3xl pt-10">Meet Us</h1>
            <h2 class="font-serif text-1xl tracking-wide text-nowrap md:text-2xl pb-10">The Team Who Made LURUH Possible</h2>
            <div class="grid grid-cols-12 gap-6">
                <figure class="crew-card">
                    <CrewCard name='Fernanda Bagus Prasetya' role='Producer' link='https://www.instagram.com/ferndaa__/' imagePath='/crew/Fernanda.webp'/>
                </figure>
                <figure class="crew-card">
                    <CrewCard name='Sajna Nuraini Sabilla Fitri' role='Line Producer' link='https://www.instagram.com/sajnanr/' imagePath='/crew/Jenna 3.webp'/>
                </figure>
                <figure class="crew-card">
                    <CrewCard name='Gita Talia' role='Director' link='https://www.instagram.com/gtlyssrt_/' imagePath='/crew/Gita 2.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Fitriyani' role='1st Assistant Director' link='https://www.instagram.com/fiyannii/' imagePath='/crew/Ani.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Ahmad Yoga Pratama' role='2nd Assistan Director' link='https://www.instagram.com/yga_002/' imagePath='/crew/Yoga.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Mohammad Anwar' role='Editor' link='https://www.instagram.com/anwaarre/' imagePath='/crew/Anwar 2.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Aldi Saputra Dwi Rangga' role='Scriptwriter' link='https://www.instagram.com/aldispttga/' imagePath='/crew/Aldi.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Davit Kurniawan' role='Director of Photography' link='https://www.instagram.com/si_kurpit/' imagePath='/crew/Dapit.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Mohammad Noor Iskandar' role='Assistant Camera' link='https://www.instagram.com/_howong_/' imagePath='/crew/Iskandar.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Muhammad Munthaha M' role='Sound Recordist' link='https://www.instagram.com/habiboiy/' imagePath='/crew/Habib.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Raffi Ilham Zeftyatala' role='Boom Operator' link='https://www.instagram.com/raffiilham205/' imagePath='/crew/Rafi.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Fawaz Alwan Nafi' role='Gaffer' link='https://www.instagram.com/fau.waz/' imagePath='/crew/Fawaz.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Khuzaimah Nur Sahara' role='1st Lightning Crew' link='https://www.instagram.com/ngdt_one/' imagePath='/crew/Hara.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Favian Sakhi Yusuf' role='2nd Lighting Crew' link='https://www.instagram.com/faviansakhiyusuf/' imagePath='/crew/Ucup.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Goffar Hasan Nur Herjuno' role='Location Manager' link='https://www.instagram.com/gofarhasan87/' imagePath='/crew/Gofar.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Lingga Eleazar Eureka Mojo' role='Script Timecode' link='https://www.instagram.com/linggaeleazarr/' imagePath='/crew/Lea.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Ananda Betrics Martina M' role='Talent Coordinator' link='https://www.instagram.com/_betricsnif_/' imagePath='/crew/Nanda.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Jeni Dina Ardita' role='Make Up Artist' link='https://www.instagram.com/jeni.jenoell/' imagePath='/crew/Jeni.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Anggia Hasna Nur Aini' role='Wardrobe' link='https://www.instagram.com/hsnanggia_/' imagePath='/crew/Anggia.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Adiwijaya' role='Clapper & Art Crew' link='https://www.instagram.com/_adii29/' imagePath='/crew/Adi 2.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Lingga Arifudin Halim' role='Art Director' link='https://www.instagram.com/linggarfdn/' imagePath='/crew/Aconk 2.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Rafelia Kayyis Khayyu Ulya' role='Social Media Admin & Art Crew' link='https://www.instagram.com/rrafeliaaa/' imagePath='/crew/Feli.webp'/>
                </figure>
                <figure class="crew-card lg:col-span-3">
                    <CrewCard name='Krisetya Bima Hartanta' role='Bawang Kotong' link='https://www.instagram.com/bimafiladelfia/' imagePath='/crew/Bima.webp'/>
                </figure>
                
            </div>
        </section>
        <section class="max-w-7xl flex flex-col items-center my-20 md:my-30 gap-10">
            <h3 class="font-serif tracking-widest text-2xl font-bold">Ready To Collaborate?</h3>
             <a href="/contact" class="py-2 px-4 rounded-[10px] bg-[#003229] font-display font-bold tracking-wide transition-all duration-300 hover:bg-[#002d24] cursor-pointer">GET IN TOUCH</a>
        </section>
    </main>
    </Layout>