<section class="flex items-center justify-center my-40 p-5">
    <figure class="max-w-7xl relative">
        <img src="/CTA.webp" alt="Jeni doing make up" class="h-107.5 object-cover object-[70%_center] rounded-2xl">
        <div class="absolute inset-0 bg-black/25 rounded-2xl pointer-events-none"></div>
        <div class="absolute inset-0 right-[40%] bg-black/25 backdrop-blur-xs mask-[linear-gradient(to_right,black_90%,transparent_100%)] hidden md:block rounded-2xl pointer-events-none"></div>
        <div class="absolute left-5 bottom-10 md:left-10 md:inset-0 md:right-[50%] flex flex-col md:gap-6 justify-center items-start gap-5 p-5 z-5">
            <div>
                <span class="font-serif text-[20px] md:text-2xl font-semibold leading-none inline">Have a story to tell?</span>
                <h2 class="font-serif text-[36px] md:text-6xl font-bold leading-none text-nowrap">Let's Collaborate!</h2>
            </div>
            <p class="font-display block md:hidden">Professional media solutions for every story. Whether on set or at a milestone, we deliver cinematic grace and technical precision.</p>
            <p class="font-display tracking-wide text-justify hidden md:block">We provide full-scale media solutions for brands, creators, and individuals. Whether it's on a film set or at a milestone event, we bring the same level of focus, grace, and technical precision to every frame.</p>
            <a href="/contact" class="z-10 font-heading font-bold cursor-pointer bg-[#003229] py-3 px-5 rounded-[10px] transition-all duration-300 hover:bg-[#002d24]">GET IN TOUCH</a>
        </div>
        
    </figure>
</section>