<a href="/LURUH"><img src="/poster.webp" alt="LURUH Poster" class="w-full object-cover"></a>
<div class="flex items-center flex-col">
    <h2 class="font-heading text-[20px] md:text-3xl tracking-wide">LURUH</h2>
    <span class="font-serif tracking-wide text-white/40">Short Film</span>
</div>
