<section class="flex items-center justify-center w-full mt-40">
    <!-- If you want to add more statement section you need to copy this whole div and change the md:flex-row class to md:flex-row-reverse and add margin top or padding top -->
    <div class="flex items-center justify-center flex-col-reverse md:flex-row max-w-7xl">
        <article class="flex px-6 mt-6 md:flex-col md:max-w-[70%] md:gap-5">
            <h3 class="hidden md:block font-serif text-4xl font-bold border-b border-[#828282]">A Note from the Director</h3>
            <div>
                <p class="font-display">
                    LURUH was born from the realization that we often sacrifice our family responsibilities on the altar of our own routines. It is a story about the widening gap between a mother and daughter who struggle to speak the same language of love.
                </p>
                <br>
                <p class="font-display">
                    We chose a quiet, observational visual style—minimalist settings and soft lighting—to strip away the noise and focus entirely on the weight of silence and the intimacy of small gestures.
                </p>
                <br>
                <p class="font-display">
                    This film is not just about a mother in a care home; it is a journey of finding a love that was never lost, only forgotten. We hope LURUH moves you to look closer at your own relationships and, perhaps, act before the distance becomes too great to cross.
                </p>
            </div>
        </article>
        <figure class="">
            <img src="/director.webp" alt="Director Photo" class="w-full h-full object-cover">
        </figure>
        <h3 class="md:hidden font-serif text-[24px] font-bold">A Note from the Director</h3>
    </div>
</section>